@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Mochiy+Pop+One&display=swap');

body{
font-family: 'Mochiy Pop One', sans-serif;

}


// 🥒js0432 - swiper 
.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 3rem;
  color:$black;
}
